# 📦 Виртуальное окружение
.venv/

# 📜 Секреты и переменные среды
.env
*.env

# 🗃️ Файлы сессий Telethon
sessions/
*.session

# 📂 Отчёты и временные файлы
*.pdf
*.html
*.log

# 🧪 Временные или отладочные данные
test_links_and_texts.txt

# 💻 Конфигурация IDE (PyCharm)
.idea/

# 🧠 Python: байткод и кэш
__pycache__/
*.py[cod]

# 🧼 Системные файлы
.DS_Store
Thumbs.db
