# Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Логи
*.log

# Файлы настроек IDE
.vscode/
.idea/

# Конфигурационные файлы
.env
*.env

# Файлы отчетов, сборок, пакетов
dist/
build/
*.egg-info/

# WeasyPrint output
reports/
*.pdf
*.html

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/