# Для информации: проект рассчитан на Python 3.9
# Убедитесь, что используете Python версии 3.9

aiogram>=3.0
telethon>=1.33
fpdf>=1.7
python-dotenv>=1.0
pyyaml>=6.0
WeasyPrint~=51.0
transformers>=4.52.1  # версия выше 4.40.1, чтобы избежать уязвимостей
torch==2.9.0.dev20250712
torchvision==0.24.0.dev20250712
torchaudio==2.8.0.dev20250712
config~=0.5.1
datasets~=4.0.0